
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* header */
/* description */
/* techniques */

/* video */
.video__iframes {
  margin: 50px auto 0;
  width: 1050px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.video__iframe {
  margin: 0 20px 0 0;
  width: 515px;
  height: 316px;
}

.video__iframe:nth-child(2) {
  margin: 0;
}

/*digits*/
/* feynman */

.feynman {
  text-align: center;
  position: relative;
  min-height: 790px;
  z-index: 2;
  background-color: #f2f2f2;
  padding-top: 100px;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 648px;
  margin: auto;
  z-index: 2;
  position: relative;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
  position: relative;
  margin: auto;
  margin-bottom: 0;
  margin-top: 70px;
  width: fit-content;
}

.feynman__image {
  height: 637px;
  width: 867px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  bottom: 50%;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  text-decoration: none;
}

/* kaufman */

.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  position: absolute;
  background-size: contain;
  right: -210px;
  top: 0;
}

/* footer */

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  color: white;
  display: flex;
}

.footer__columns {
  margin: auto;
  margin-top: 60px;
  margin-bottom: 40px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  height: 35px;
  background-image: url('../images/logo_place_footer.svg');
  background-repeat: no-repeat;
  margin: 0;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
  width: fit-content; /* ширина p по ширине его контента */
}

.list {
  list-style: none;
 }

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 16px;
  margin-top: 0;
  padding: 0;
}

.footer__column-link {
  text-decoration: none;
  color: white;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}















