.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* header */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color:  #f2f2f2;
}
 
.logo_place_header {
  height: 32px;
  width: 183px;
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url('../images/logo_place_header.svg');
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  color: #000000;
  margin: auto;
  margin-left: 64px;
  z-index: 4;
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  width: 388px;
  font-weight: normal;  
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 4;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
} 

.header__square-pic {
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 2;
}

/* description */

.two-columns {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  width: 80%;
}


.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal; 
  color: #2f80ed;
  width: 175px;
  margin: 0;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  min-height: 332px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/*digits*/

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.section-subtitle {
  line-height: 1.15;
  font-size: 34px;
  font-weight: normal;
  width: 60%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}

.table {
  width: 1100px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}

.table__cell {
  width: 250px; 
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* feynman */

.feynman {
  text-align: center;
  position: relative;
  height: 790px;
  z-index: 2;
  background-color: #f2f2f2
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 648px;
  margin: auto;
  z-index: 2;
  position: relative;
  top: 100px;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-top: 170px;
  z-index: 2;
  position: relative;
}

.feynman__image {
  height: 637px;
  width: 867px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  bottom: 395px;
  right: 48px;
  color: #2f80ed;
  text-decoration: none;
}

/* kaufman */

.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  display: grid;
}

.section-title_theme_dark {
  color: white;
  margin-top: 90px;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
 margin-bottom: 80px;
}

.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
  color: white;
  z-index: 3;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
}

/* footer */

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  color: white;
  display: flex;
}

.footer__columns {
  margin: auto;
  margin-top: 60px;
  margin-bottom: 40px;
  width: 90%;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
}

.logo_place_footer {
  height: 35px;
  width: 183px;
  background-image: url('../images/logo_place_header.svg');
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 0;
  margin: 18px 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 16px;
}

.footer__column-link {
  text-decoration: none;
  color: white;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}















